

.content{
	 min-height: 95vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 38% 1fr 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
      "L E E"
      "O O H";
}


.widget1{
      background: #6C77F4;
      border-radius: 25px;
      padding: .8rem;
      grid-area: L;
      margin-bottom: .5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
        "L"
        "F";
	}

h3 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: red;
      text-transform: uppercase;
    }

.sellsDisplay {
        grid-area: L;
    }
.GamesSellsDisplay {
        grid-area: F;
    }
      h3 {
        margin-bottom: 0.3rem;
      }

      .nbr {
        font-size: .65rem;
        display: flex;
        justify-content: space-between;
        color: white;
}
        span {
          width: 36%;
}


.sellsList {
        padding-top: .5rem;
        

}
li {
	  color: red;
    }
.widget1Sells{
	background: yellow;
}
        .progressBar {
          height: .4rem;
          background: transparent;
          border-radius: 50px;
          margin-top: 0.2rem;
          position: relative;
}
          .progressBar{
            content: '';
            position: absolute;
            background: rgb(99, 164, 233);
            border-radius: 50px;
            height: .4rem;
            width: 0;
            animation: line 2s ease-out forwards;
}
            @keyframes line {
              to {
                width: 100%;
              }
          }
